<head>
    <link rel="stylesheet" href="static/assets/error/sty.css">
</head>

<body>
    <div class="container">
        <div class="wire-logo">
            <div class="wire"></div>
            <div class="wire-break"></div>
            <div class="sparks" id="sparks"></div>
        </div>
        <div class="error-code">404</div>
        <div class="error-message">Oops! The page you're looking for seems to be disconnected.</div>
        <a href="/" class="home-button">Back to Home</a>
    </div>
    <script src="static/assets/error/main.js"></script>
</body>
